<header class='flex-container flex-center'>
  <div class='width-25'>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
  <div class='width-25 '>
    <div style="text-align:center">
      <h2>
          Country list from local json file...
      </h2>
      <ul *ngFor="let item of products">
         <li>
            <h3>Country Name :{{item.question}}</h3>
         </li>
      </ul>
  </div>
  </div>
</header>
<footer>
</footer>
