<div class="container">


  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxflex="60">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/graphs/bar-chart">Pie chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pie-chart">Pie chart</a>
      </li>
    </ul>



    </div>

  <div fxFlex="40">

  </div>



</div>
