<mat-nav-list>
  <div class="profile-card">
  <div class="header"></div>
  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Rizwan Mehmood">

  </div>
  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/graphs">Graphs</a>

    <mat-divider> </mat-divider>

    <h2 matSubheader>Contact Details</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
      <mat-icon>import_contacts</mat-icon>
      Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
      <mat-icon>contact_phone</mat-icon>
      Emails
    </a>

</mat-nav-list>


